section{
    display:grid;
    grid-gap: 10px;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    font-size: 15px;
    margin: 20px 0;
}


div{
    background-color: coral;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
}

.auto.fill div{
    background-color: goldenrod;
}
.auto-fit div{
    background-color: purple;
}

.auto-fill{
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr))
}

.auto-fit{
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
}